@{
    ViewData["Title"] = "Home Page";
}
<body class="body-home">
<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>

        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <partial name="_Login"></partial>
            </div>
        </div><!-- End -->

    </div>
</div>
</body>